.content{
    width: 90%;
    height: 800px;
    margin: auto;
}
.size{
    width: 50%;
    height: 100%;
    float: left;
}
.item{
}
.item-img{

}
.clr{
    clear: left;
}
.text{
    margin-top: 200px;
    margin-left: 250px;
    color: rgb(247, 208, 181);
}
.text button{
    padding: 11px 20px;
    border: none;
    background: #4868db;
    color: white;
    border-radius: 25px;
}
.text i{
    color: #5472D2;
    font-size: 2.15em!important;
}
body{
    margin: 0;
    background: rgb(51, 27, 8);
}

.content2{
    width: 100;
    height: 784px;
    background: cornsilk;
    margin-top: 30px;    
}
.item2{
    width: 40%;
    height: 100%;
    display: inline-block;
    margin-left: 90px;
    text-align: right;
    
}
.text2{
    width: 40%;
    height: 100%;
    display: inline-block;
    float: right;
    margin:120px;
    font-size: 1.04em;

}
.content3{
    width: 100%;
    height: 980px;
    background: cornsilk;
}
.section-title{
    width: 1140px;
    height: 90px;
    /* background: grey; */
    margin: auto;   
    overflow: auto;
}
.section-title h2{
    font-size: 40px;
    font-weight: 700;
    color: #171822;
    margin-bottom: 10px;
    text-align: center;
    font-family: "Work Sans", sans-serif;
    margin: 0;
}
.section-title p{
    font-family: "Work Sans", sans-serif;
    font-weight: 400;
    line-height: 28px;
    margin: 0 0 15px 0;
    color: #6a6b7c;
    text-align: center;
}

.photos{
    width: 100%;
    height: 420px;
    /* background: hotpink; */
    
    overflow: auto;

}
.size2{
    width: 380.594px;
    height: 90%;
    float: left;
}
.Abdo{
    /* background: lightcoral; */
    position: relative;
    overflow: hidden;
}
.Body{
    /* background: maroon; */
    position: relative;
    overflow: hidden;
}
.Eshoo{
    /* background: mediumorchid; */
    position: relative;
    overflow: hidden;

}
.Abdalla{
    /* background: midnightblue; */
    position: relative;
    overflow: hidden;
}
.Eslam{
    /* background: olive; */
    position: relative;
    overflow: hidden;
}
.Abdo img{
    width: 100%;
    height: 100%;
}
.Body img{
    width: 100%;
    height: 100%;
}
.Eshoo img{
    width: 100%;
    height: 100%;
}
.Abdalla img{
    width: 100%;
    height: 100%;
}
.Eslam img{
    width: 100%;
    height: 100%;
}
.Abdo div{
    width: 104.297px;
    height: 27px;
    background-image: linear-gradient(
        120deg
        , #ee8425 0%, #f9488b 100%), linear-gradient(
        120deg
        , #ee8425 0%, #f9488b 100%);
    position: absolute;
    top: -100px;
    transition: 1s;
    padding: 10px 23px 8px;
    border-radius: 0 0 4px 4px;
    margin-left: 30px;
    overflow: auto;
    
}
.Abdo:hover div{
    top: 0px;
}
.fa {
    color: cornsilk;
    float: left;
    margin-right: 10px;
    margin-top: 5px;
    margin-left: 2px;
}
.Body div{
    width: 104.297px;
    height: 27px;
    background-image: linear-gradient(
        120deg
        , #ee8425 0%, #f9488b 100%), linear-gradient(
        120deg
        , #ee8425 0%, #f9488b 100%);
    position: absolute;
    top: -100px;
    transition: 1s;
    padding: 10px 23px 8px;
    border-radius: 0 0 4px 4px;
    margin-left: 30px;
    overflow: auto;
    
}
.Body:hover div{
    top: 0px;
}
.Eshoo div{
    width: 104.297px;
    height: 27px;
    background-image: linear-gradient(
        120deg
        , #ee8425 0%, #f9488b 100%), linear-gradient(
        120deg
        , #ee8425 0%, #f9488b 100%);
    position: absolute;
    top: -100px;
    transition: 1s;
    padding: 10px 23px 8px;
    border-radius: 0 0 4px 4px;
    margin-left: 30px;
    overflow: auto;
    
}
.Eshoo:hover div{
    top: 0px;
}
.Abdalla div{
    width: 104.297px;
    height: 27px;
    background-image: linear-gradient(
        120deg
        , #ee8425 0%, #f9488b 100%), linear-gradient(
        120deg
        , #ee8425 0%, #f9488b 100%);
    position: absolute;
    top: -100px;
    transition: 1s;
    padding: 10px 23px 8px;
    border-radius: 0 0 4px 4px;
    margin-left: 30px;
    overflow: auto;
    
}
.Abdalla:hover div{
    top: 0px;
}
.Eslam div{
    width: 104.297px;
    height: 27px;
    background-image: linear-gradient(
        120deg
        , #ee8425 0%, #f9488b 100%), linear-gradient(
        120deg
        , #ee8425 0%, #f9488b 100%);
    position: absolute;
    top: -100px;
    transition: 1s;
    padding: 10px 23px 8px;
    border-radius: 0 0 4px 4px;
    margin-left: 30px;
    overflow: auto;

}
.Eslam:hover div{
    top: 0px;
}
.mi-text{
    width: 204.594px ;
    height: 53px;
    background: #dbd3d3;
    padding: 16px 0 18px 25px;                              /* don't Work--> */
    position: absolute;
    left: -200px;
    bottom:-200px;
    transition: 1s;
    
    
}
.mi-text:hover{
    left: 0px;
    bottom: 0px;                                            /*<don't Work*/
}